<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DJYP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5789E0FDA52CD11F2B623CC470B1915CE67F6B53</string>
				<key>dateExpires</key>
				<string>2019/5/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MHA7B2RH7T.com.djyp.www</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MHA7B2RH7T</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>MHA7B2RH7T.com.djyp.www</string>
				</array>
			</dict>
			<key>name</key>
			<string>DJYP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c2898a61-c0e6-48f8-8ef4-44ac52651bbc</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.djyp.www</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MHA7B2RH7T</string>
				<key>name</key>
				<string>Henan Blackstone Nationwide Financial Services Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
