<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Universal.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>650565844E79B46E12CA6B02EC04553D12833FA0</string>
				<key>dateExpires</key>
				<string>2018/8/2</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YV66YG42MQ.com.baohuan.www</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YV66YG42MQ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>YV66YG42MQ.com.baohuan.www</string>
				</array>
			</dict>
			<key>name</key>
			<string>Universal.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c41af536-8828-49d0-869d-bb754fe4f3f4</string>
				<key>name</key>
				<string>Test++</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YV66YG42MQ</string>
				<key>name</key>
				<string>Hebei Asia Network Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
